<div class="content">
  <div class="row">
    <div class="col-md-12 col-xs-12">


      <div class="baby">
        <div class><%= image_tag 'top.jpg' %></div>
        <div class><%= image_tag 'top7.jpg'%></div>
        <!-- <div class><%= image_tag 'top2.jpg'%></div> -->
        <div class><%= image_tag 'top3.jpg'%></div>
        <div class><%= image_tag 'top6.jpg'%></div>
        <div class><%= image_tag 'top8.jpg'%></div>
      </div>
    </div>
  </div>
</div>
